@import 'config';

/* Progress Bar ------------------------------ */
.booking-steps-container {
    position: sticky;
    top: 4rem;
    background-color: $near-black;
    box-shadow: 0 0 1rem #000;
    z-index: 35;
}

.booking-steps {
    margin: 3rem 0;
}

.progress-bar {
    height: 0.3em;
    background-color: $square-green;
}

.progress-bar-disabled {
    @extend .progress-bar;
    background-color: $form-disabled-grey;
}

.progress-link {
    width: 3rem;
    a {
        &:hover, &:active {
            border: 2px solid $square-green;
            .icon {
                border: 2px solid $square-green;
            }
        }
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3rem;
        border-radius: 50%;
        overflow: hidden;
        background-color: $off-white;
        color: $square-green;
        border: 2px solid $off-white;
    }
    @media only screen and (max-width: 767px) {
        width:2.5rem;
        .icon {
            height:2.5rem;
            border: 1px solid $off-white;
            &:active {
                border: 1px solid $square-green;
            }
        }
    }
}

.progress-link-disabled {
    @extend .progress-link;
    .icon {
        color: $form-disabled-grey;
        background-color: transparent;
        border: 2px solid $form-disabled-grey;
    }

}

/* Confirm Trip Form ------------------------------ */
//Styles the search results; Hides radio inputs and styles the input labels
.searched-content {
    color: $off-white;
    span {
        color: $form-grey;
        font-style: normal;
    }
}


[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
	left: -9999px;
	width: 0;
	height: 0;
    visibility: hidden;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
    p {
        margin-bottom: 0;
        text-align:right;
    }
    h2 {
        font-size: 1.5rem;
    }
    position: relative;
	display: inline-block;
	width: 100%;
    font-size: 1rem;
    padding: 1rem;
	text-align: center;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	overflow: hidden;
	cursor: pointer;
	color: $off-white;
	-webkit-transition: all 300ms linear;
    transition: all 300ms linear;
    @media only screen and (max-width: 575px) {
        font-size: 0.9rem;
        h2 {
            font-size: 1.1rem;
        }
    }
}

[type="radio"]:not(:checked) + label {
    h2 i {
        color: $form-disabled-grey;
    }
    background-color: $near-black;
    border-left: 1px solid $triad-dark-teal;
    border-right: 1px solid $triad-dark-teal;
    border-bottom: 1px solid $triad-dark-teal;
    opacity: 0.8;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
    }
}

[type="radio"]:checked + label {
    background-color: $near-black;
    border-left: 1px solid $square-green;
    border-right: 1px solid $square-green;
    border-bottom: 1px solid $square-green;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.8);
}

.block {
    height: 1rem;
    width: 1rem;;
    background-color: $triad-dark-teal;
    transition: all 300ms linear; 
}

/* Passenger Details ------------------------------ */
// Credit: https://codepen.io/BuddyLReno/pen/boGRPO

.passenger-formset {
    //border: 1px solid $base-teal;
    margin-top: 3rem;
    border: 1px solid $near-black;
    &:not(:last-of-type) {
        margin-bottom: 3rem;
    }
    @media only screen and (max-width: 767px) {
        margin: 0 1rem;
    }
}

.formset-legend {
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.addon-set {
    position: relative;
    margin-bottom: 0.6rem;

    label {
        margin: 0;
        position: relative;

        .addon-details {
            font-family: 'Orbitron', sans-serif;
            padding: 12px 20px 12px 50px;
            width: 100%;
            margin: 0;
            display: block;
            text-align: left;
            color:  #aab7c4;
            cursor: pointer;
            position: relative;
            z-index: 2;
            transition: color 200ms ease-in;
            overflow: hidden;

            .line-height-small {
                margin-bottom: 0;
                line-height: 0.8em;
            }

            span {
                font: {
                    family: 'Montserrat';
                    size: 0.8em;
                }
            }

            &:before {
                width: 15px;
                height: 10px;
                border-radius: 50%;
                content: '';
                background-color: $off-white;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%) scale3d(1, 1, 1);
                transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
                opacity: 0;
                z-index: -1;
            }

            &:after {
                width: 32px;
                height: 32px;
                content: '';
                border: 1px solid #aab7c4;
                background-color: #fff;
                background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
                background-repeat: no-repeat;
                background-position: 2px 3px;
                border-radius: 50%;
                z-index: 2;
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                transition: all 200ms ease-in;
            }
        }

        .addon-image {
            margin-bottom: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            width: 60px !important;
            position: relative;
            img {
                min-width: 100%;
                max-width: 100%;
                min-height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                object-fit: cover;
                opacity: 0.5;
                transition: opacity 200ms ease-in;
            }
        }
    }

    input:hover ~ label {
        .addon-details {
            color: $off-white;
        }
        .addon-image img {
            opacity: 1;
        }
    }
    
    input:checked ~ label {
        .addon-details {
            color: $off-white;
            &:before {
                transform: translate(-50%, -50%) scale3d(56, 56, 1);

            }

            &:after {
                background-color: $square-green;
                border-color: $square-green;
            }
        }
        .addon-image img {
            opacity: 1;
        }
    }

    input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }
}

hr {
    margin: 0.6rem 0;
    border-top: 1px solid $triad-dark-teal;
    &.hr-muted {
        opacity: 0.4;
    }
}

.sticky {
    position: sticky;
    top: 14rem;
}

.booking-summary {
    background-color: $near-black;
    color: $off-white;
    padding: 2rem;
}

.booking-header {
    font: {
        family: 'Orbitron', cursive;
        size: 1.8rem;
        weight: 200;
    }
    color: $base-teal;
}

.booking-subheader {
    font: {
        size: 1.3rem;
        weight: 200;
    }
}

#update-btn {
    background-color: $triad-dark-teal;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem;
    letter-spacing: normal;
    text-transform: none;
}