{% extends 'base.html' %}
{% load static %}

{% block header %}
    {% include 'includes/navbar-index.html' %}
{% endblock header %}

{% block content %}
    <div class="bg-hero"></div>
    <main class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row w-100 justify-content-center">
            <div class="col-12 col-md-10 col-lg-8 d-flex flex-column align-items-center justify-content-center my-5">
                <p class="hero-text text-center">
                    Experiences that are out of this world.
                </p>
                <a href="{% url 'destinations'%}"><button class="hero-btn">
                    Explore
                </button>
                </a>
            </div>
        </div>
    </main>
{% endblock content %}
