{% extends 'base.html' %}
{% load static %}

{% block bg %}
    <div class="bg-hero"></div>
{% endblock bg %}

{% block page_nav %}
    <div class="row justify-content-center">
        {% include 'includes/dark_nav.html' %}
    </div>
{% endblock page_nav %}

{% block content %}

    <section class="container-fluid">
        <div class="row mt-5 justify-content-center">
            <div class="col-12 d-flex flex-column align-items-center justify-content-center vh-50">
                <p class="hero-text text-center">
                    Experiences that are out of this world.
                </p>
                <a href="{% url 'destinations'%}"><button class="hero-btn">
                    Explore
                </button>
                </a>
            </div>
        </div>
    </section>

{% endblock content %}
