[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pylint-django = "*"

[packages]
django = "*"
django-allauth = "*"
pillow = "*"
psycopg2-binary = "*"
django-crispy-forms = "*"
python-dotenv = "*"
stripe = "*"
django-countries = "*"
dj-database-url = "*"
gunicorn = "*"
boto3 = "*"
django-storages = "*"

[requires]
python_version = "3.8"
