{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/checkout.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}

{% block header %}
    {% include 'includes/navbar-dark.html' %}
{% endblock header %}

{% block content %}
    <main class="container-fluid black-bg">
        <!-- Progress Bar -->
        <section class="row justify-content-center booking-steps-container">
            <div class="col-md-10">
                <div class="row booking-steps">
                    {% include 'bookings/includes/progressbar/stepthree-enabled.html' %}
                    <div class="col p-0">
                        <div class="row align-items-center m-0">
                            {% include 'bookings/includes/progressbar/stepfour-active.html' %}
                            <div class="col progress-bar-disabled p-0"></div>
                        </div>
                    </div>
                    {% include 'bookings/includes/progressbar/stepfive-disabled.html' %}
                </div>
            </div>
        </section>

        <!-- Checkout and Summary -->
        <section class="row justify-content-center my-5">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-12">
                        <h2 class="logo-font mb-4">Checkout</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <!-- Checkout -->
                    <div class="col-12 col-lg-6">
                        <p class="booking-subheader">Please fill out the form below to complete your booking</p>                        
                        <div class="crispyform">

                            <!-- Checkout Form -->
                            {% crispy form %}

                            <p class="small text-danger invalid-feedback my-0 text-right px-3">
                                <span class="icon">
                                    <i class="fas fa-exclamation-circle"></i>
                                </span>
                                <span>Your card will be charged
                                    <strong>£{{ booking_total|intcomma }}</strong>
                                </span>
                            </p>
                        </div>
                    </div>

                    <!-- Booking Summary -->
                    <div class="col-12 col-lg-6 mb-5">
                        <div class="row flex-column align-items-end sticky">
                            <div class="my-3 col-12 col-lg-10 booking-summary">
                                {% include 'checkout/includes/booking-summary.html' %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div id="loading-overlay">
            <h1 class="text-light logo-font loading-spinner">
                <span class="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </span>
            </h1>
        </div>
    </main>
{% endblock content %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script type="text/javascript" src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock postloadjs %}