{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}

{% block header %}
{% include 'includes/navbar-dark.html' %}
{% endblock header %}

{% block content %}
<main class="container-fluid black-bg">
    <!-- Progress Bar -->
    <section class="row justify-content-center booking-steps-container">
        <div class="col-md-10">
            <div class="row booking-steps">
                {% include 'bookings/includes/progressbar/stepfour-enabled.html' %}
                <div class="col-auto p-0">
                    <div class="row align-items-center m-0">
                        {% include 'bookings/includes/progressbar/stepfive-active.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Thank you summary-->
    <section class="row justify-content-center my-5">
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <h2 class="logo-font mb-4">Thank you</h2>
                    <hr>
                    <p>Your booking information is below. A confirmation email will be sent to {{ booking.email }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-7 order-lg-last mb-5">
                    <div class="booking-confirmation-wrapper p-2 border">
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Booking Info:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Reference:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ booking.booking_ref }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Date:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ booking.date_completed | date }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Booking Details:</small>
                            </div>
                        </div>

                        {% for item in booking.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">
                                    {{ item.product.name }}</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ item.quantity }} @ £{{ item.product.price|intcomma }}</p>
                            </div>
                        </div>
                        {% endfor %}

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Full Name</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ booking.lead_passenger.user.full_name }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Billing Info:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Total:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">£{{ booking.booking_total|intcomma }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-lg-7 text-right">
                    {% if from_profile %}
                    <a href="#" class="btn btn-black rounded-) my-2">
                        <span class="icon">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                    {% else %}
                    <a href="{% url 'profile' %}" class="btn btn-outline rounded-0 my-2">
                        <span class="text-uppercase">View profile</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        </div>
    </section>
</main>
{% endblock content %}