{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/checkout.min.css' %}">
<link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}

{% block header %}
{% include 'includes/navbar-dark.html' %}
{% endblock header %}

{% block content %}
<main class="container-fluid d-flex flex-column justify-content-center align-items-center form-bg px-0">
    <!-- Progress Bar -->
    <section class="row w-100 justify-content-center booking-steps-container">
        <div class="col-md-10">
            <div class="row booking-steps">
                {% include 'bookings/includes/progressbar/checkout-steps.html' %}
                <div class="col p-0">
                    <div class="row align-items-center m-0">
                        <div class="col-auto p-0">
                            <div class="progress-link">
                                <div class="icon">
                                    <i class="fas fa-credit-card fa-lg"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col progress-bar p-0"></div>
                    </div>
                </div>
                <div class="col-auto p-0">
                    <div class="row align-items-center m-0">
                        {% include 'bookings/includes/progressbar/stepfive-active.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Thank you summary-->
    <section class="row w-100 justify-content-center flex-grow-1 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 my-5 m-xl-5 text-center form-container">
            <div class="row">
                <div class="col-12">
                    <h1 class="logo-font">Thank you</h1>
                    <h2 class="mb-5">
                        Your booking information is below. A confirmation email 
                        will be sent to {{ booking.contact_email }}
                    </h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 mb-5">
                    <div class="p-2 text-left">
                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Booking Info:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Reference:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ booking.booking_ref }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Date:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ booking.date_completed | date }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Trip:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">
                                    {{ booking.trip }} {{ booking.trip.date | date:'d/m/Y' }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Passengers:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">
                                    {{ booking.passengers.count }}
                                </p>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Contact Details:</small>
                            </div>
                        </div>

                        {% for item in booking.lineitems.all %}
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">
                                    {{ item.product.name }}</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">{{ item.quantity }} @ £{{ item.product.price|intcomma }}</p>
                            </div>
                        </div>
                        {% endfor %}

                        {% if booking.full_name %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-0 text-black font-weight-bold">Lead Contact</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ booking.full_name }}</p>
                                </div>
                            </div>
                        {% endif %}

                        {% if booking.contact_email %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-0 text-black font-weight-bold">Contact Email</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ booking.contact_email }}</p>
                                </div>
                            </div>
                        {% endif %}

                        {% if booking.contact_email %}
                            <div class="row">
                                <div class="col-12 col-md-4">
                                    <p class="mb-0 text-black font-weight-bold">Contact Number</p>
                                </div>
                                <div class="col-12 col-md-8 text-md-right">
                                    <p class="mb-0">{{ booking.contact_number }}</p>
                                </div>
                            </div>
                        {% endif %}

                        <div class="row">
                            <div class="col">
                                <small class="text-muted">Billing Info:</small>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-md-4">
                                <p class="mb-0 text-black font-weight-bold">Booking Total:</p>
                            </div>
                            <div class="col-12 col-md-8 text-md-right">
                                <p class="mb-0">£{{ booking.booking_total|intcomma }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {% if from_profile %}
                    <a href="#" class="btn btn-black rounded-) my-2">
                        <span class="icon">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                    {% else %}
                    <a href="{% url 'profile' %}" class="btn btn-outline rounded-0 my-2">
                        <span class="text-uppercase">View profile</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}