{% extends 'base.html' %}
{% load static %}
{% block page_nav %}
    {% include 'includes/dark_nav.html' %}
{% endblock page_nav %}

{% block content %}
<div class="row">
    <div class="col-md-5">
        <a href="{{ product.image_url }}">
            <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
        </a>
    </div>
    <div class="col-md-6">
        <h2>{{ product.name }}</h2>
        <p>{{ product.description }}</p>
    </div>
</div>

{% endblock content %}