{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}

{% block header %}
{% include 'includes/navbar-dark.html' %}
{% endblock header %}


{% block content %}
<main class="container-fluid black-bg">
<section>
    <div class="row justify-content-center">
        
        <div class="col-12 col-md-10 col-lg-6" id="focus-search">
            <p>Booking reference: {{ booking.booking_ref }}</p>
            <p>{{ booking.trip.destination }}</p>
            {% crispy form %}
        </div>
    </div>
</section>
</main>
{% endblock content %}



{% block postloadjs %}
<script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}