{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}


{% block page_nav %}
{% include 'includes/light_nav.html' %}
{% endblock page_nav %}


{% block content %}

    <section class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-3 progress-bar"></div>
                    <div class="col-3 progress-bar"></div>
                    <div class="col-3 progress-bar"></div>
                    <div class="col-3 progress-bar"></div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h2 class="logo-font mb-4">Passengers</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-lg-6">
                        <p class="text-muted">Please fill out details for each traveller</p>
                        <div class="crispyform">
                            {% crispy form %}
                        </div>
                    </div>
                    <div class="col-12 col-lg-6 mb-5t-end">
                        <div class="row justify-content-end">
                        <div class="col-10">
                            <p class="text-muted">Booking Summary</p>
                            </p>
                            {% include 'checkout/includes/summary-headers.html' %}
                            <div class="row">
                                {% for item in trip_items  %}
                                    {% include 'checkout/includes/line-item-summary.html' %}
                                {% endfor %}
                            </div>
                            <hr class="my-2">

                            <div class="row text-black text-right">
                                <div class="col-7 offset-2">
                                    <p class="my-0">Booking Total:</p>
                                </div>
                                <div class="col-3">
                                    <p class="my-0">£{{ booking_total|intcomma }}</p>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </section>
{% endblock content %}


