{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/bookings.min.css' %}">
{% endblock extra_css %}

{% block header %}
    {% include 'includes/navbar-dark.html' %}
{% endblock header %}

{% block content %}
<main class="container-fluid d-flex flex-column justify-content-center align-items-center form-bg px-0">
    <!-- Progress Bar -->
    <section class="row w-100 justify-content-center booking-steps-container">
        <div class="col-md-10">
            <div class="row booking-steps">
                <div class="col p-0">
                    <div class="row align-items-center m-0">
                        {% include 'bookings/includes/progressbar/stepone-active.html' %}
                        <div class="col progress-bar-disabled p-0"></div>
                        <div class="col progress-bar-disabled p-0"></div>
                    </div>
                </div>
                {% include 'bookings/includes/progressbar/steptwo-disabled.html' %}
            </div>
        </div>
    </section>
    
    <!-- Search Form -->
    <section class="row w-100 justify-content-center flex-grow-1 align-items-center">
        <div class="col-12">
            <div class="row justify-content-center">
                    <div class="col-12 col-sm-10 col-md-8 col-lg-6 my-5 form-container">
                        <h1>Search</h1>
                        <h2>Find available trips:</h2>
                        <div class="row justify-content-center mt-3">
                            <div class="col-12 col-xl-10" id="focus-search">
                                {% crispy form %}
                            </div>
                        </div>                       
                    </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}



{% block postloadjs %}
    <script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}