{% extends 'base.html' %}
{% load static %}

{% block content %}
<section>
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
            </div>
        </div>    
        <div class="col-12 col-md-10 col-lg-6" id="focus-search">
            <h2>Start your booking:</h2>
            {% crispy form %}
        </div>
    </div>
</section>
{% endblock content %}



{% block postloadjs %}
    <script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}