{% extends 'base.html' %}
{% load static %}
{% block page_nav %}
    <div class="row bg-black justify-content-center">
        {% include 'includes/dark_nav.html' %}
    </div>
{% endblock page_nav %}

{% block content %}

<section class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="row">
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
                <div class="col-3 progress-bar"></div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h2 class="logo-font mb-4">Trips Available</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <form action="{% url 'confirm_trip' %}" method="POST">
                    {% csrf_token %}
                    <div class="row justify-content-center">
                        {% for radio in form.trip %}
                            <div class="radio-options mx-2">
                                {{ radio.tag }}
                                <label for="{{ radio.id_for_label }}" class="date-option">{{ radio.choice_label }}</label>
                            </div>
                        {% endfor %}

                        <div class="col-12 text-center">
                            <button type="button" class="btn btn-outline" id="confirm-btn" data-toggle="modal" data-target="#confirmModal">
                                Confirm
                            </button>

                            <!-- Confirm Choice model -->
                            <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
                                aria-labelledby="confirmModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmModalLabel">Confirm Selection</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form>
                                                <div class="form-group">
                                                {% for destination in  destination_obj %}
                                                    <p>{{ destination.name }}</p>
                                                    <p id="date-choice"></p>
                                                    <p id="booking-details">
                                                        <span id="quantity">{{ passengers }}</span>
                                                        x £
                                                        <span id="cost">{{ destination.price }}</span>
                                                    </p>
                                                    <p id="total">Total:</p>
                                                {% endfor %}
                                            
                                                
                                                </div>
                                                <div class="form-group">
                                                    
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-outline-reverse" data-dismiss="modal">Close</button>
                                            <input type="submit" class="btn btn-outline" value="Proceed" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> 
                        <!-- End of modal-->
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block postloadjs %}
<script src="{% static 'bookings/js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}