<input id="{{ widget.attrs.id }}" type="{{ widget.type }}" name="{{ widget.name }}" {% if widget.value != None %}
    value="{{ widget.value|stringformat:'s' }}" {% endif %}>

{% if widget.wrap_label %}
    <label{% if widget.attrs.id %} for="{{ widget.attrs.id }}" {% endif %}>
        <p class="mb-0">{{ widget.label }} <span class="small">£{{widget.object.price}}</span></p>
        <p class="line-height-small"><span class="font-italic text-muted">{{ widget.object.description }}</span></p>
    </label>
{% endif %}
