{% with id=widget.attrs.id %}
    <div {% if id %} id="div_{{ id }}" {% endif %} class="form-group border">
        <label class="" for="">Choose Activities:</label>
        <div class="custom-checkbox-group">
            {% for group, options, index in widget.optgroups %}
                <div class="addon">
                    {% for option in options %}        
                        {% include option.template_name with widget=option %}
                    {% endfor %}
                </div>
                <label for="{{ id }}">
                    <img src="https://res.cloudinary.com/mhmd/image/upload/v1579682182/2_rqo4zs.gif" alt="" width="60">
                </label>
            {% endfor %}
        </div>
    </div>
{% endwith %}
