{% with id=widget.attrs.id %}
    <div {% if id %} id="div_{{ id }}" {% endif %} class="form-group all-form-shadow mb-0 pt-3 formset-width">
        <label class="small text-muted" for="">Choose Activities:</label>
        <div class="custom-checkbox-group py-3">
            {% for group, options, index in widget.optgroups %}
                    {% for option in options %} 
                        <div class="addon-set">
                            {% include option.template_name with widget=option %}
                        </div>
                        <hr class="hr-muted">
                    {% endfor %}  
            {% endfor %}
        </div>
    </div>
{% endwith %}
