{% load static %}

<div class="row justify-content-center">
    <div class="col-12">
        {{ formset.management_form | crispy }}
        {{ formset.non_form_errors }}
        {% for form in formset.forms %}
            <fieldset class="mt-3 p-3 border rounded">      
                {% if forloop.first %}
                    <legend class="">Lead Passenger</legend>
                    {% crispy form %}
                    {{ form.saveinfo| as_crispy_field }}
                {% else %}
                    <legend class="">Passenger {{forloop.counter}}</legend>
                    {% crispy form %}
                {% endif %}
            </fieldset>
        {% endfor %}
    </div>
</div>
