{% load static %}



{{ formset.management_form | crispy }}
{{ formset.non_form_errors }}
{% for form in formset.forms %}
    <div class="passenger-formset mt-3 p-4 rounded">
        <fieldset>
            {% if forloop.first %}
                <legend class="text-muted formset-legend"><i class="fas fa-user mr-2 fa-sm"></i>Lead Passenger</legend>
                {% crispy form %}
                {{ form.saveinfo| as_crispy_field }}
            {% else %}
                <legend class="text-muted formset-legend"><i class="fas fa-user mr-2 fa-sm"></i>Passenger
                    {{forloop.counter}}</legend>
                {% crispy form %}
            {% endif %}
        </fieldset>
    </div>
{% endfor %}