{% load static %}

<div class="row justify-content-center">
    <div class="col-12">
        {{ formset.management_form | crispy }}
        {{ formset.non_form_errors }}
        {% for form in formset.forms %}
            <fieldset class="mb-5 mt-3 px-3 pt-3 passenger-formset-border rounded">      
                {% if forloop.first %}
                    <legend class="text-center text-muted"><i class="fas fa-user mr-2 fa-sm"></i>Lead Passenger</legend>
                    {% crispy form %}
                    {{ form.saveinfo| as_crispy_field }}
                    <hr class="d-md-none mt-5">
                {% else %}
                    <legend class="text-center text-muted"><i class="fas fa-user mr-2 fa-sm"></i>Passenger
                            {{forloop.counter}}</legend>
                    {% crispy form %}
                    <hr class="d-md-none mt-5">
                {% endif %}
            </fieldset>
        {% endfor %}
    </div>
</div>
