<nav class="navbar navbar-light p-0">
    <a href="#" class="nav-link site-link pl-0 main-logo-link text-uppercase">
        <h1 class="logo-font my-0"><span>2</span>infinity</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-nav">
        <ul class="navbar-nav w-100 pl-0 justify-content-end text-center">
            <li class="nav-item">
                <a class="nav-link site-link" href="#">
                    <p class="my-0">Trips</p>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href="#" class="nav-link site-link" id="account-links" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    Account
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="account-links">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="#" class="dropdown-item site-link">Product Management</a>
                    {% endif %}
                    <a href="#" class="dropdown-item site-link">My Profile</a>
                    <a href="{% url "account_logout" %}" class="dropdown-item site-link">Logout</a>
                    {% else %}
                    <a href="{% url "account_signup" %}" class="dropdown-item site-link">Register</a>
                    <a href="{% url "account_login" %}" class="dropdown-item site-link">Login</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>
</nav>