<div class="container-fluid">
    <div class="row justify-content-center m-2">
        <div class="col-12 pl-0">
            <div class="row align-items-start">
                <div class="d-none d-md-block col-5 col-md-4 col-lg-3">
                    <div class="d-flex flex-column">
                        <h1 class="logo-font text-uppercase">2infinity</h1>
                        <p class="small bold">Experiences that are out of this world</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum reiciendis doloremque hic ab at,
                            quidem aspernatur blanditiis.</p>
                    </div>
                </div>
                <div class="col pr-0">
                    <div class="row">
                        <div class="col-4 col-lg-2 col-xl-3">
                            <h2>Explore</h2>
                            <div class="anchor-set d-flex flex-column">
                                <a href="{% url 'home' %}" class="footer-col-link">Home</a>
                                <a href="{% url 'destinations' %}" class="footer-col-link">View Trips</a>
                                <a href="{% url 'search_trip' %}" class="footer-col-link">Book A Trip</a>
                            </div>
                        </div>
                        <div class="col-4 col-lg-auto col-xl-3 order-lg-3">
                            <h2>Legal</h2>
                            <div class="anchor-set d-flex flex-column">
                                <a href="{% url 'terms' %}" class="footer-col-link">Terms and Conditions</a>
                                <a href="{% url 'privacy' %}" class="footer-col-link">Privacy Policy</a>
                            </div>
                        </div>
                        <div class="col-4 d-flex col-md-4 col-lg-auto flex-column order-lg-4">
                            <h2 class="footer-col-title">Subscribe</h2>
                            <div class="social d-none d-lg-block">
                                <h2 class="footer-col-title">Connect</h2>
                                <a href="https://github.com/fdeboo" target="blank"><i
                                        class="fab fa-github-square social fa-2x"></i></a>
                                <a href="https://linkedin.com/in/frandeboo" target="blank"><i
                                        class="fab fa-linkedin social fa-2x"></i></a>
                                <a href="https://www.facebook.com/fdeboo" target="blank"><i
                                        class="fab fa-facebook-square social fa-2x"></i></a>
                            </div>
                            <div class="d-none">
                                <h2>Contact</h2>
                                <div class="row mb-2">
                                    <div class="col-auto contact-icon"><i class="fas fa-at"></i></div>
                                    <div class="text-break pl-0 mr-3">toinfinity@example.com</div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-auto contact-icon"><i class="fas fa-map-marker-alt"></i></div>
                                    <div class="col pl-0 mr-3">65 Gifford Road, London, NW10 9ED</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-8 col-lg-4 col-xl-auto contact-info order-lg-2">
                            <h2>Contact</h2>
                            <div class="row mb-2">
                                <div class="col-auto contact-icon"><i class="fas fa-at pr-2"></i></div>
                                <div class="col-auto text-break pl-0 mr-3 mr-lg-0">toinfinity@example.com</div>
                            </div>
                            <div class="row">
                                <div class="col-auto contact-icon"><i
                                        class="fas fa-map-marker-alt pr-2"></i></div>
                                <div class="col pl-0 mr-3 mr-lg-0">65 Gifford Road, London, NW10 9ED</div>
                            </div>
                        </div>
                        <div class="col-4 social align-self-end d-lg-none">
                            <h2 class="footer-col-title">Connect</h2>
                            <a href="https://github.com/fdeboo" target="blank"><i
                                    class="fab fa-github-square social fa-2x"></i></a>
                            <a href="https://linkedin.com/in/frandeboo" target="blank"><i
                                    class="fab fa-linkedin social fa-2x"></i></a>
                            <a href="https://www.facebook.com/fdeboo" target="blank"><i
                                    class="fab fa-facebook-square social fa-2x"></i></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>