<div class="row justify-content-center">
    <div class="col-12 col-md-10">
    <nav class="navbar navbar-light p-0">
        <a href="{% url 'home' %}" class="nav-link site-link pl-0 main-logo-link text-uppercase">
            <h1 class="logo-font my-0"><span>2</span>infinity</h1>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="navbar-nav w-100 pl-0 text-center">
                <li class="nav-item">
                    <a class="nav-link site-link-light" href="{% url 'search_trip' %}">
                        <p class="my-0"><i class="far fa-calendar-alt"></i> Book a trip</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link site-link-light" href="{% url 'destinations' %}">
                        <p class="my-0"><i class="fas fa-rocket"></i> View Trips</p>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link site-link-light" id="account-links" data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                        <i class="fas fa-user-alt"></i> Account
                    </a>
                    <div class="dropdown-menu border-0 rounded-0 text-center" aria-labelledby="account-links">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                                <a href="#" class="dropdown-item site-link-light">Product Management</a>
                            {% endif %}
                            <a href="#" class="dropdown-item site-link-light">My Profile</a>
                            <a href="{% url "account_logout" %}" class="dropdown-item site-link-light">Logout</a>
                        {% else %}
                            <a href="{% url "account_signup" %}" class="dropdown-item site-link-light">Register</a>
                            <a href="{% url "account_login" %}" class="dropdown-item site-link-light">Login</a>
                        {% endif %}
                    </div>
                </li>
            </ul>
        </div>
    </nav>
</div>
</div>