<div class="row justify-content-center">
    <div class="col-12 col-md-10">
        <nav class="navbar navbar-expand-lg navbar-dark px-0 main-nav">
            <a href="{% url 'home' %}" class="navbar-brand pl-0 main-logo-link text-uppercase">
                <h1 class="logo-font my-0"><span>2</span>infinity</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="main-nav">

                <ul class="navbar-nav ml-auto text-uppercase text-center">
                    <li>
                        <a href="{% url 'home' %}">
                            <i class="fas fa-home pr-2"></i></i>Home
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'search_trip' %}">
                            <i class="far fa-calendar-alt pr-2"></i>Book a trip
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'destinations' %}">
                            <i class="fas fa-rocket pr-2"></i>View Trips
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" id="account-links" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <i class="fas fa-user-alt pr-2"></i>Account
                        </a>
                        <div class="dropdown-menu border-0 rounded-0 text-center" aria-labelledby="account-links">
                            {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="#" class="dropdown-item">Product Management</a>
                            {% endif %}
                            <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                            <a href="{% url "account_logout" %}" class="dropdown-item">Logout</a>
                            {% else %}
                            <a href="{% url "account_signup" %}" class="dropdown-item">Register</a>
                            <a href="{% url "account_login" %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                </ul>

            </div>
        </nav>
    </div>
</div>