<div class="col-2 mb-1">
    <a href="#">
        {% if item.product.image %}
        <img class="w-100" src="{{ item.product.image.url }}" alt="{{ item }}">
        {% else %}
        <img class="w-100" src="{{ MEDIA_URL }}noimage.png" alt="{{ item }}">
        {% endif %}
    </a>
</div>
<div class="col-8">
    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
    <p class="my-0 small text-muted">Qty: {{ item.quantity }}</p>
</div>
<div class="col-2 mb-1 text-right">
    <p class="my-0 small text-muted">{{ item.line_total }}</p>
</div>