$font-stack: 'Montserrat', sans-serif;

/* define colours */
$off-white: #f5f5f5;
$near-black: #141516;
$form-grey: #999999;
$form-disabled-grey: #595959;
$form-disabled-teal: #0D3638;

/* harmonious colours credit: Adobe Color */
$base-teal: #2AB1B7;
$square-green: #99B821;
$square-orange: #B85718;
//$square-orange: #B88421;
$triad-dark-teal: #0E666B;