@import 'config';
@import url('https://fonts.googleapis.com/css2?family=Euphoria+Script&family=Montserrat:wght@300;400;800&family=Orbitron:wght@400;500;600;700&display=swap');

/* Universal Styles ------------------------------ */
html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font: {
        family: $font-stack;
        weight: 300;
    }
    color: $off-white;
    background-color: $near-black;
    cursor: url("/static/icons/shuttleicon.png") 0 0, pointer;
}

header {
    box-shadow: 0 0 1rem #000;
}

.content {
    flex: 1 auto;
    display: flex;
    align-items: stretch;
    position: relative;
}

footer {
    flex-shrink: 0;
    background-color: $base-teal; 
    padding: 1rem 20px;
    color: $triad-dark-teal;
    font-weight: 400;
    font-size:0.9rem;
    h2 {
        font-size: 1.2rem;
        margin-top: 1rem;
    }
    a {
        color: $triad-dark-teal;
        &:hover {
            font-weight: 600;
            color: $triad-dark-teal;
            text-decoration: underline;
        }
    }
    .anchor-set {
        :first-child {
            margin-top: 1rem;
        }
        .footer-col-link {
            position: relative;
            margin-bottom: 1rem;
            &::before {
                content: '';
                width: 100%;
                height: 2px;
                background-color: $triad-dark-teal;
                position: absolute;
                top: -4px;
                left:0;
            }
        }
    }
    .contact-icon {
        width: 2rem;
        padding: 0 1.2rem;
    }
    @media only screen and (max-width: 575px) {
        .contact-icon ~ div {
            margin-right: 0;
            padding: 0;
        }
	} 
}

a {
    color:$square-green;
    &:hover {
        color: $square-green;
        font-weight: 600;
        text-decoration: none;
    }
}

::selection {
    background-color: $base-teal;
    color: #000;
}

// headers
.dark-bg {
    background-color: $near-black;
}

.black-bg {
    background-color: #000;
}

//buttons
.btn-outline {
    box-sizing: content-box;
    border-radius: 0;
    border: 1px solid $base-teal;
    background-color: $near-black;
    opacity:0.8;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding: 1rem 1.5rem;
    transition: background-color .75s, color .75s ease-out;
    color: $off-white;
    &:hover {
        background-color: $base-teal;
    }
}

.btn-outline-reverse {
    @extend .btn-outline;
    border: 1px solid #000;
    background-color: transparent;
    transition: background-color .75s, color .75s ease-out;
    color: #000;
    &:hover {
        background-color: #000;
        color: $off-white;
    }
}

/* Navigation Menu ------------------------------ */
.logo-font {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    span {
        color: $base-teal;
    }
}

.main-nav {
    li {
        position: relative;
        a {
            font-weight: 400;
            color: $off-white;
            position: relative;
            text-decoration: none;
            z-index: 1;
            i {
                color: gray;
                font-size: 0.8rem;
            }
            &::before {
                position: absolute;
                content: "";
                width: calc(100% - 1px);
                height: 1px;
                background-color: $base-teal;
                bottom: -6px;
                left: 0;
                transform: scale(0, 1);
                transform-origin: right center;
                z-index: -1;
                transition: transform 0.5s ease;
            }
            &:hover {
                color: $off-white;
                text-decoration: none;
                font-weight: 400;
                i {
                    color: gray;
                    font-size: 0.8rem;
                }
                &::before {
                    transform: scale(1, 1);
                    transform-origin: left center;
                }
            }
            &:active {
                &::before {
                    transform: scale(1, 1);
                    transform-origin: left center;
                }
            }
            &.dropdown-item {
                color: $near-black;
                white-space: normal;
                &:before {
                    content: none;
                }
                &:active {
                    background-color: $square-green;
                }
            }
            
        }
        @media only screen and (max-width: 991px) {
            margin-top: 0.5rem;
            .dropdown-menu {
                background-color: transparent;
            }
            a {
                &.dropdown-item {
                    color: $form-grey;
                    &:active, &:hover {
                        color: $near-black;
                    }
                }   
            }
        }
        @media only screen and (min-width: 992px) {
            &:not(:last-of-type) {
                margin-right: 2rem;
            }
        }
    }
}

/* Forms ------------------------------ */
form h2 {
    font-size: 1.3rem;
}

.form-bg {
    background-image: linear-gradient(to right, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/media/pexels-miriam-espacio-110854.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.form-container {
    text-align: center;
    color: $off-white;
    padding: 3rem;
    border: 1px solid $base-teal;

    @media only screen and (max-width: 767px) {
		border: none;
	} 
}

.form-container h1 {
    font: {
        family: 'Orbitron', cursive;
        size: 1.8rem;
        weight: 200;
    }
    color: $base-teal;
}

.form-heading {
    font: {
        family: 'Orbitron', cursive;
        size: 1.8rem;
        weight: 200;
    }
    color: $off-white;
}

.form-container h2, .form-subheading {
    font: {
        size: 1.3rem;
        weight: 200;
    }
    color: $off-white;
}

legend {
    position: relative;
    right: 0.5rem;
    color: $form-grey;
    padding: 0 .5rem;
    font: {
        size: 80%;
        weight: 400;
    }
}

.all-form-bg {
    border: 0;
    border-bottom: 2px solid $base-teal;
    background-color: $near-black;
    opacity: 0.8;
    border-radius: 0px;
    color: $off-white;
    &:disabled {
        background-color: $near-black;
        border-bottom: 2px solid $form-disabled-teal;
    }
    &:focus {
        background-color: $near-black;
    }
    &:visited .invalid {
        outline: 1px solid $form-alert;
    }
    &.is-invalid {
        border-bottom: 2px solid $form-alert;
    }
}

.all-form-input,
.allauth-form-inner-content input:not([id="id_remember"])  {
    @extend .all-form-bg;
    font: {
        family: 'Orbitron', sans-serif;
        size: 1rem;
    }
    box-sizing: border-box;
    height: 3rem;
    padding: 0.5rem 1rem;
    transition: box-shadow 150ms ease;
    margin-top: 1.5rem;
    
    &[type="date" i] {
        color: $off-white;
    }
    
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.3);
        color: $off-white;
    }
    
    &::placeholder {
        color: $form-grey;
    }
    
    &:disabled::placeholder{
        color: $form-disabled-grey;
    }
    
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display:none;
}

input:-webkit-autofill-selected {
        background-color: $near-black;
        color: $off-white;
}

input.invalid {
    -moz-box-shadow: none;
    box-shadow: none;
    border: 2px solid $form-alert;
    outline: none;
}

.invalid-feedback {
    color: $form-alert !important;
}

.warning-feedback {
    color: $form-alert !important;
    display: block;
}

.alert {
    border-radius: 0;
    ul {
        list-style-type: none;
        padding: 0;
    }
}

.crispyform .errorlist {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    list-style-type: none;
    border-radius: 0;
    border: 1px solid #f5c6cb;
    background-color: #f8d7da;
    color: #721c24;
}   

/* Modals ------------------------------ */
.modal {
    z-index: 9999;
    color: $form-disabled-grey;
    .btn-x {
        padding: 0 5px;
        outline: none;
        background: transparent;
        box-shadow: none;
        color: $form-disabled-grey;
    }
    h2 {
        font-size: 2rem;
    }
    .modal-header {
        border: none;
        color: $form-disabled-grey;
    }
    .modal-body {
        font-size: 1.1rem;;
    }
    .modal-footer {
        border: none;
    }
    .btn-outline {
        background-color: $base-teal;
        color: $near-black;
    }
    .cancel-btn {
        text-transform: uppercase;
        letter-spacing: .3rem;
        padding: 1rem 1.5rem;
        background-color: $form-grey;
        color: $near-black;
    }
}

/* Toasts ------------------------------ */
.message-container {
    position: fixed;
    top: 72px;
    right: 20px;
    z-index: 999;
    .toast.show {
        opacity: 0.95;
    }
    
    .toast {
        background-color: $off-white;
        color: $form-disabled-grey;
        button {
            border: 0;
            opacity: 1;
            color: $off-white;
        }
        .btn-x {
            padding: 0 5px;
            outline: none;
            background: transparent;
            color: $form-disabled-grey;
        }
        .btn-accept {
            background-color: $square-green;
        }
    }
}

/* Landing Page ------------------------------ */
.hero-btn {
    @extend .btn-outline;
    border: 1px solid $base-teal;
    background-color: $base-teal;
    color: $near-black;
    opacity: 1;
    &:hover {
        background-color: $off-white;
        color: $base-teal;
        box-shadow: 0 0 1rem $base-teal;
    }
}

.vh-50 {
    height: 50vh;
}

.hero-text {
    color: $off-white;
    line-height: 7rem;
    text-shadow: 0 0 1rem $triad-dark-teal;
    font: {
        family: 'Euphoria Script', cursive;
        size: 7rem;
        weight: 800;
    }
    @media only screen and (max-width: 575px) {
        font-size: 5rem;
        line-height: 5rem;
	} 
}

.bg-hero {
    position: absolute;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    background: #000 url("/media/international-space-station-1176518.jpg") no-repeat;
    background-size: cover;
    background-position: bottom -15vh right 50%;
    z-index: -1;
    position: fixed;
    //height: 100vh;
    width: 100vw;
}

/* Destination List Template ------------------------------ */
.image-container {
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    position: relative;
    a {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font: {
            size: 3rem;
            family: 'Orbitron', sans-serif;
            weight: bold;
        }
    }
    img {
        object-fit: cover;
        height: 100%;
        width: 100%;
    }
}

.icon-menu-bar {
    background-color:  whitesmoke;
}

// Styles instance of 'trips' search form
.search-trips-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    
    #featured-search > form {
        flex-direction: column !important;
        @media only screen and (min-width: 992px) {
            flex-direction: row !important;
        }
    }

    #featured-search .all-form-input {
        margin-top:0;
        @media only screen and (min-width: 992px) {
            margin-bottom: 0 !important;
        }
    }

    #featured-search .buttonHolder {
        margin: 2rem auto;
        text-align: right;
    }

	@media only screen and (max-width: 991px) {
        bottom: -316px;
        height: 316px;
        transition: 1s;
        
        &.position-translate {
            visibility: visible;
            bottom: 0px;
        }
	}
    
	.toggle-form {
        visibility: hidden;
        background-color: blue;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: absolute;
        padding: 1rem;
        margin: 1.5rem;
        top: -6rem;
        right: 3rem;
        color: white;
        z-index: 10;
        
		@media only screen and (max-width: 991px) {
            visibility: visible;
		}
	}
}

/* Search Trips Template ------------------------------ */
#focus-search > form {
    flex-direction: column !important;
}

#focus-search .buttonHolder {
    margin: 2rem auto;
    text-align: center;
}
/* Unavailable Template ------------------------------ */
