<div class="modal fade p-3 pb-4" id="cancelModal" tabindex="-1" role="dialog" aria-labelledby="cancelModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row modal-header">
                <div class="col-10">
                    <h2 class="text-left">Confirm Cancellation</h2>
                </div>
                <button class="col-2 btn text-center btn-x" type="button" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times fa-2x" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to cancel your booking "{{ booking.booking_ref }}"?</p>
            </div>
            <div class="modal-footer">
                <button class="w-100 btn cancel-btn rounded-0" type="button" data-dismiss="modal"
                    aria-label="Close">Back
                </button>
                <form method="post" action="{% url 'cancel_booking' booking.booking_ref %}">
                    {% csrf_token %}
                    <input type="submit" class="btn btn-outline w-100" value="Confirm" />
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End of modal-->