.account-info {
    font-size: 1.1em;
    & ~ div {
        padding-left: 0;
    }
}

.table {
    color: #999999;
}

.cancel-btn-icon {
    color: #B88421;
    width: auto;
    &:focus {
        box-shadow: none;
    }
    &:hover {
        color: #B88421;
        font-weight: 600;
    }
}