{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.min.css' %}">
{% endblock extra_css %}

{% block header %}
{% include 'includes/navbar-dark.html' %}
{% endblock header %}

{% block content %}
<main class="container-fluid d-flex flex-column p-0 dark-bg">
    <div class="row justify-content-center m-0">
        <div class="col-md-10 my-5">

            <!-- Destination list-->
            <section class="row justify-content-center destination-list">
            </section>
        </div>
    </div>
</main>

    <div class="row">
        <div class="col-md-5">
            <a href="{{ product.image_url }}">
                <img class="img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
            </a>
        </div>
        <div class="col-md-6">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p>{{ product.price }}</p>
        </div>
    </div>
{% endblock content %}