{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.min.css' %}">
{% endblock extra_css %}

{% block header %}
    {% include 'includes/navbar-dark.html' %}
{% endblock header %}


{% block content %}
<main class="container-fluid d-flex flex-column p-0 black-bg">
    <div class="row justify-content-center my-5">
        <div class="col-md-10">
            <div class="row">
                <div class="col-12">
                    <h2 class="logo-font mb-4">Our trips</h2>
                    <hr>
                </div>
            </div>


            <!-- Destination list-->
            <section class="row justify-content-center destination-list">
                {% for destination in destinations %}
                    <div class="col-12 col-md-6 col-xl-3 my-4">
                        <div class="destination-card h-100 rounded-0 bg-transparent">
                            <img class="img-fluid" src="{{ destination.image.url }}" alt="{{ destination.name }}">
                            <div class="px-0 my-3">
                                <div class="card-title">
                                    <h2 class="">{{ destination.name }}</h1>
                                    <p class="text-muted my-2">£{{ destination.price | intcomma }}</p>
                                </div>
                                <p class="my-3">{{ destination.description }}</p>
                            </div>
                            <div class="card-footer p-0 d-flex align-items-end">
                                <a href="{% url 'destination_detail' destination.pk %}">
                                    <button class="btn btn-outline" type="button">View</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <hr>

                    {% if forloop.counter|divisibleby:2 %}
                    <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-4">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:3 %}
                    <div class="col-12 d-none d-lg-none mb-4">
                        <hr>
                    </div>
                    {% endif %}

                    {% if forloop.counter|divisibleby:4 %}
                    <div class="col-12 d-none d-xl-block mb-4">
                        <hr>
                    </div>
                    {% endif %}
                {% endfor %}
            </section>
        </div>
    </div>

    <!-- Form to search for available trips -->
    <button class="btn toggle-form">
        <div class="icon">
            <i class="far fa-calendar-alt fa-3x"></i>
        </div>
    </button>
    <section class="search-trips-form container-fluid form-bg">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 col-xl-9" id="featured-search">
                {% crispy form %}
            </div>
        </div>
    </section>
</main>
{% endblock content %}


{% block postloadjs %}
    <script src="{% static 'products/js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}