{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
    {% include 'includes/light_nav.html' %}

    <!-- Navigation within the page  -->
    <div class="row justify-content-center py-3 icon-menu-bar">
        <div class="col-12 col-md-7 d-flex justify-content-around align-items-center">
            <a href="#trip1"><img src="{% static 'icons/missiontomars.png' %}" alt="Mission to Mars link"></a>
            <a href="#trip2"><img src="{% static 'icons/moonlanding.png' %}" alt="Moon Landing link"></a>
            <a href="#trip3"><img src="{% static 'icons/earthorbit.png' %}" alt="Earth Orbit link"></a>
            <a href="#trip4"><img src="{% static 'icons/iss.png' %}" alt="International Space Station link"></a>
        </div>
    </div>
{% endblock page_nav %}

{% block content %}
    <section class="container-fluid">
        <!-- Listing of Destinations -->
        <div class="row">
            {%for destination in destinations %}
            <div class="col-12 col-lg-6 image-container" id="trip{{ forloop.counter }}">
                <img class="" src="{{ destination.image.url }}" alt="{{ destination.name }}" />
                <a href="{% url 'destination_detail' destination.pk %}">
                    <p>{{ destination.name }}</p>
                </a>
            </div>
            {% endfor %}
        </div>

        <!-- Form to search for available trips -->
        <div class="row search-trips-form justify-content-center">
            <button type="button" class="toggle-form"><i class="far fa-calendar-alt fa-2x"></i></button>
            <div class="col-md-10 col-xl-9 py-4" id="featured-search">
                {% crispy form %}
            </div>
        </div>
    </section>
{% endblock content %}


{% block postloadjs %}
    <script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}
