{% extends 'base.html' %}
{% load static %}

{% block page_nav %}
{% include 'includes/light_nav.html' %}

{% endblock page_nav %}

{% block content %}
<section class="container-fluid">

    <div class="row">
        {%for destination in destinations %}
        <div class="col-12 col-lg-6 image-container" id="trip{{ forloop.counter }}">
            <img class="" src="{{ destination.image.url }}" alt="{{ destination.name }}" />
            <a href="{% url 'destination_detail' destination.pk %}">
                <p>{{ destination.name }}</p>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="row search-trips-form justify-content-center">
        <button type="button" class="toggle-form"><i class="far fa-calendar-alt fa-2x"></i></button>
        <div class="col-md-10 col-xl-9 py-4" id="featured-search">
            {% crispy form %}
        </div>
    </div>

</section>
{% endblock content %}


{% block postloadjs %}
    <script src="{% static 'js/scripts.js' %}" crossorigin="anonymous"></script>
{% endblock postloadjs %}
