{% extends 'base.html' %}
{% load static %}
{% block page_nav %}
{% include 'includes/dark_nav.html' %}
{% endblock page_nav %}

{% block content %}
{%for destination in destinations %}
<div class="row icon-menu-bar"></div>
<div class="image-container w-100" id="{{ destination.name }}">
    
    
        <img class="img-fluid" src="{{ destination.image.url }}" alt="{{ destination.name }}">
        <a href="{% url 'trip_detail' destination.id %}">
            <p>{{ destination.name }}</p>
        </a>

</div>
{% endfor %}

<div class="row booking-form justify-content-center">
    <div class="col-10 py-4">
        <form action="{% url 'initial_search' %}" method="GET">
            {% csrf_token %}
            {{ form | crispy }}
            <input type="submit" value="Search">
        </form>
    </div>
</div>

{% endblock content %}


{% block postloadjs %}
<script>
    document.getElementById("selected-trip").onchange = function() {
        let elemSelect = document.getElementById("selected-trip");
        if (elemSelect.value == '') {
            $('#passengers-max').prop("disabled", true);
        }
        else {
            let tripChoice = elemSelect.options[elemSelect.selectedIndex];

            // From http://html5doctor.com/html5-custom-data-attributes/
            let maxNm = tripChoice.dataset.maxNum;
            
            $('#passengers-max').attr("max", maxNm).prop("disabled", false);
        }
    };
</script>
{% endblock postloadjs %}
