{% extends 'base.html' %}
{% load static %}
{% block page_nav %}
    {% include 'includes/dark_nav.html' %}
{% endblock page_nav %}

{% block content %}
<div class="row">
    {%for destination in destinations %}
        <div class="col-md-4">
            <img class="img-fluid" src="{{ destination.image.url }}" alt="{{ destination.name }}">
            <a href="{% url 'trip_detail' destination.id %}">
                <p>{{ destination.name }}</p>
            </a>
            
        </div>
    {% endfor %}
</div>

{% endblock content %}