{% load humanize %}

<p class="">Booking Summary {% if booking_items %}({{ booking_items|length }} items) {% endif %}</p>

{% include 'checkout/includes/summary/trip-item-listing.html' %}

{% if addon_items %}
<div class="row">
    {% for item in addon_items  %}
    {% include 'checkout/includes/summary/line-item-summary.html' %}
    {% endfor %}
</div>
    <hr class="my-2">
{% endif %}

{% if insurance_items %}
<div class="row">
    {% for item in insurance_items  %}
    {% include 'checkout/includes/summary/line-item-summary.html' %}
    {% endfor %}
</div>
{% endif %}

<div class="row text-black text-right">
    <div class="col-12 text-right">
        <p class="my-0"><span class="mx-3">Booking Total:</span>£{{ booking_total|intcomma }}</p>
    </div>
</div>