<div class="toast p-3 pb-4 bg-custom text-white" data-autohide="false">
    <div class="row">
        <div class="col-10">
            <h2>Alert!</h2>
        </div>
        <button class="col-2 text-center btn-x" type="button" data-dismiss="toast" aria-label="Close">
            <i class="fas fa-times fa-2x" aria-hidden="true"></i>
        </button>
    </div>
    <p>{{ message }}</p>
    <button class="btn w-100 rounded-0 btn-accept" type="button" data-dismiss="toast" aria-label="Close">Ok</button>
</div>